@import "susy";

$total-columns  : 7;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;

$break          : 9;


.inner, footer {
  @include container($total-columns, $break);
  //@include susy-grid-background;
}

.main {
  
}

@include at-breakpoint($break) {
  .main {
    //@include susy-grid-background;
  }
}