@import "susy";

$total-columns  : 3; // 736px
$column-width   : 64px; // 4em
$gutter-width   : 16px; // 1em
$grid-padding   : $gutter-width;

$container-style: static;

$break          : 9;


header, .inner, footer {
  @include container($total-columns, $break);
  //@include susy-grid-background;
  width: 736px;
}

.main {
  //@include susy-grid-background;

  .items {
    > div {
      margin-bottom: 0;
    }
    .ag1 { @include span-columns(1,3); }
    .ag2 { @include span-columns(1,3); }
    .ag3 { @include span-columns(1 omega, 3); }
  }
}

footer {
  .contact {
    text-align: right;
  }
}
