/**

//HTML5 Boilerplate + Normalize
*= require "_vendor/normalize.css"
*= require "_vendor/html5bp.css"

//Grid
*= require "_layout/grid"

*/

$ac-green: rgb(0, 128, 0);
$ac-green-light: rgba(0, 128, 0, .9);
$ac-light: rgb(200, 200, 200);
$ac-lighter: rgb(220, 220, 220);
$ac-font: 'Oxygen', sans-serif;

body {
  font-family: 'Oxygen', Helvetica, sans-serif;
  background: white;
  color: #333;
}

.main {
  background: white;
  padding-bottom: 100px;
}

a {
  color: inherit;
  color: $ac-green-light;
  text-decoration: none;
}

#logo {
  font-family: 'Exo', sans-serif;
  font-weight: 800;
  font-size: 2.0em;
  letter-spacing: 1px;
  color: $ac-green;
  margin: 10px 0;
}

.splash {
  $splash-height: 378px;

  font-family: $ac-font;
  height: $splash-height;
  background-image: url(../images/apples.jpg);
  background-position: center 0;
  
  .tagline {
    font-size: 135%;
    padding-top: 10px;
    text-shadow: 1px 1px 2px #000;
    color: white;
  }

  .inner {
    position: relative;
    height: $splash-height;

    .pitch {
      font-family: $ac-font;
      font-size: 220%;
      line-height: 1.15em;

      color: white;
      text-shadow: 0 -1px 1px rgba(0, 0, 0, .85);
      background-clip: text;

      position: absolute;
      bottom: 40px;

      padding: 25px;
      background: rgba(99, 99, 99, .65);
      border-radius: 5px;
    }
  }
}

.call-to-action {
  margin: 20px 0 120px;
  font-family: $ac-font;
  font-size: 115%;
  font-weight: 400;
  opacity: .9;
}

.items {
  margin: 0 15px;

  img {
    width: 164px;
  }

  .techcrunch, .ngconnect {
    text-align: center;
    .desc {
      font-size: 85%;
      margin-top: 10px;
      text-align: center;
      color: #aaa;
    }
  }

  .contact {
    margin-top: -36px;
    .title {
      font-size: 110%;
    }
    dl {
      margin-top: .5em;
      line-height: 1.75em;
      dt {
        position: absolute;
        margin-top: 6px;
        width: 20px;
        height: 16px;
        background-repeat: no-repeat;
        background-position: top center;

        &.email   { background-image: url(../images/contact/mail.png); }
        &.phone { background-image: url(../images/contact/telephone.png); }
        &.twitter { background-image: url(../images/contact/twitter.png); }
      }
    }
  }
}

footer {
  border-top: 1px solid $ac-lighter;
  padding-top: 12px;
  padding-bottom: 25px;
  .copyright {
    text-align: right;
    font-size: 85%;
    font-weight: 300;
    color: $ac-light;
  }
}
