/**

//HTML5 Boilerplate + Normalize
*= require "_vendor/normalize.css"
*= require "_vendor/html5bp.css"

//Grid
*= require "_layout/grid"

*/

$ac-green: rgb(0, 128, 0);
$ac-green-light: rgba(0, 128, 0, .9);
$ac-light: rgb(200, 200, 200);
$ac-lighter: rgb(220, 220, 220);
$ac-font: 'Oxygen', sans-serif;

body {
  font-family: Myriad, Helvetica, sans-serif;
  background: white;
  color: #333;
  font-weight: 300;
}

.main {
  background: white;
  padding-bottom: 20px;
}

a {
  color: inherit;
  color: $ac-green-light;
  text-decoration: none;
}


header {
  margin: 10px auto;
  padding: 0;
  border-bottom: 1px solid #eee;
  position: relative;

  .logo {
    font-family: 'Exo', sans-serif;
    font-weight: 800;
    font-size: 2.0em;
    letter-spacing: 1px;
    color: $ac-green;
  }

  .phone {
    position: absolute;
    right: 0;
    bottom: 10px;

    font-size: 90%;

    a {
      color: #333;
    }
    
  }
}

.promo {
  margin-top: 30px;
  text-align: center;
  letter-spacing: 1px;

  .pitch {
    font-size: 290%;
    color: #333;
    font-weight: 200;
    margin-bottom: 20px;
    //text-transform: lowercase;
  }

  .announce {
    margin-top: -20px;
    font-size: 140%;
    font-weight: 100;
  }
}

.vendors{
  margin: 30px 0 20px;
  text-align: center;
  opacity: .5;

  .title {
    margin: 0 0 10px;
  }
  .vendor {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin: 0 10px;
    line-height: 90%;

    img {
      height: 30px;
      
      -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%);
      filter: gray; filter: grayscale(100%);
      filter: url(desaturate.svg#greyscale);

      -webkit-filter: brightness(-20%);
    }
    .hellipsis {
      font-size: 120%;
    }
    .text {
      font-size: 80%;
    }
  }
}

form.sign-up {
  margin: 20px 0 90px;
  text-align: center;

  input, button {
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    outline-color: $ac-green-light;
    outline-width: 3px;
  }

  input {
    padding: 5px;
    width: 10em;
    border-color: #ccc;
    font-weight: 300;
  }

  button {
    padding: 5px 15px;
    color: white;
    background: $ac-green-light;
    border-color: $ac-green-light;
    font-weight: 300;
  }
}

.items {
  margin: 0 15px;

  img {
    width: 164px;
  }

  > div {
    text-align: center;
    .desc {
      font-size: 85%;
      margin-top: 10px;
      text-align: center;
      color: #aaa;
    }
    
    &.demo {
      img {
        width: 60px
      }
    }
  }
}

footer {
  border-top: 1px solid #eee;
  padding: 12px 0 25px;
  .copyright {
    text-align: right;
    font-size: 80%;
    font-weight: 100;
    color: $ac-light;
  }
  a {
    color: $ac-light;
  }
}
