/**

//HTML5 Boilerplate + Normalize
*= require "_vendor/normalize.css"
*= require "_vendor/html5bp.css"

//Grid
*= require "_layout/grid"

*/

// Google font Oxygen for text, Exo for logo
// @import url(//fonts.googleapis.com/css?family=Exo:800|Oxygen); Exo not working, Oxygen working for some reason...
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 800;
  src: local('Exo ExtraBold'), local('Exo-ExtraBold'), url(http://themes.googleusercontent.com/static/fonts/exo/v1/AG5xXsrEGN56_nP_YRjTpevvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen'), local('Oxygen-Regular'), url(http://themes.googleusercontent.com/static/fonts/oxygen/v2/eAWT4YudG0otf3rlsJD6zOvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}

$ac-green: rgb(0, 128, 0);
$ac-font: 'Oxygen', sans-serif;

@mixin full-justify {
  text-align: justify;

  &:after {
    content: "";
    display: inline-block;
    width: 100%;
  }
}

body {
  font-family: Verdana, sans-serif;
  background: #ccc;
  color: #333;
}

.main {
  background: white;
}

a {
  color: inherit;
  color: $ac-green;
  text-decoration: none;
}

#logo {
  font-family: 'Exo', sans-serif;
  font-weight: 800;
  font-size: 2.0em;
  letter-spacing: 1px;
  color: $ac-green;
  padding: 10px 0;
}

.splash {
  $splash-height: 378px;

  font-family: $ac-font;
  height: $splash-height;
  background-image: url(../images/apples.jpg);
  background-position: center -300px;
  
  .tagline {
    font-size: 135%;
    padding-top: 10px;
    text-shadow: 1px 1px 2px #000;
    color: white;

  }

  .inner {
    position: relative;
    height: $splash-height;

    .pitch {
      font-family: $ac-font;
      font-size: 220%;
      color: white;
      line-height: 1.15em;
      text-shadow: 1px 1px 2px #000;
      position: absolute;
      bottom: 25px;
    }

    .device {
      width: 200px;
      height: 378px;
      background: url(../images/iphone5-app.png);
      position: absolute;
      right: 0;
      top: 80px;
    }
  }
}

.call-to-action {
  margin: 25px 0 100px;
  font-family: $ac-font;
  padding-right: 225px;
  font-size: 115%;
}

.press {
  margin-bottom: 15px;
  @include full-justify;

  img {
    vertical-align: middle;
  }
}

footer {
  padding: 10px 0 25px;
  .contact {
    text-align: right;
    font-size: 85%;
    text-shadow: #e5e5ee 1px 1px 0;;
    color: #aaa;

    a {
      color: #222;
    }
  }
}
