.inner
  #logo
    Aircart
.splash
  .inner
    .pitch
      Boost your revenues,
      %br/
      Delight your customers.
    .device
.inner
  .call-to-action
    %a{:href => '#contact'} Contact us
    to learn how the world's most advanced mobile shopping and self-checkout solution can help your store.
  .press.clearfix
    %img{:src => 'images/press/techcrunch.png'}/
    %img{:src => 'images/press/gigtank.png'}/
    %img{:src => 'images/press/timesfreepress.png'}/
    %img{:src => 'images/press/ngconnect.png'}/
