.inner
  #logo
    Aircart
.splash
  .inner
    .pitch
      Boost your revenues,
      %br/
      Delight your customers.
    .device
.inner
  .call-to-action
    Contact us to learn how the world's most advanced mobile shopping and self-checkout solution can help your store.
  .items
    .ag1.techcrunch
      %img{:src => 'images/techcrunch.png'}/
      .desc
        SF Disrupt Staff Picks and Prize Winner
    .ag2.ngconnect
      %img{:src => 'images/ngconnect.png'}/
      .desc
        Associate Member
    .ag3.contact
      .title
        Get in touch:
      %dl
        %dt.email
        %dd
          %a{:href => 'mailto:hello@aircartapp.com'} hello@aircartapp.com
        %dt.phone
        %dd
          %a{:href => 'tel:8666079749'} (866) 607-9749
        %dt.twitter
        %dd
          @
          %a{:href => 'https://twitter.com/aircartapp'}> aircartapp
